<h1>transactions <% @categorie.total %></h1>
  <%= @transactions.each do |t| %> 
    <p> Amount: <%= t.amount %></p>
    <p> Name: <%= t.name %></p>
  <% end %>

 <%= link_to "Add Transaction", new_group_entity_path %>
