<div class="splash-container">
  <div class="splash-r1">
    <%= image_tag("logo.png") %>
  </div>
  <div class="splash-r2">
    <%=link_to "sign up" ,new_user_registration_path, class:"btn btn-primary"%>
    <%=link_to "Sign in" ,new_user_session_path %>
  </div>
</div>